<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis autem
      est amet temporibus veritatis, sunt aliquid facilis ad deleniti veniam
      obcaecati fugiat ullam, dolor possimus minus distinctio iusto quia
      necessitatibus ducimus natus ipsam commodi quidem rerum dolore! Excepturi
      suscipit necessitatibus corrupti inventore! Placeat consectetur recusandae
      repudiandae quos sint atque praesentium.</p>
    {{! <a
      href="/"
      class="flex mx-auto w-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
    >Go Back</a> }}
    <div class="p-2 w-full flex">
      <a
        href="/login"
        class="flex mx-auto w-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      >Login</a>
    </div>
  </body>
</html>