<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="text-lg img1 px-10 py-5">
      <div class="flex justify-between">
        <div class="p-2">
          <p>Education Every child has the right to learn</p>
        </div>
        <div>
          <p class="text-lg">Asar Alo School</p>
        </div>
        <div class="p-2 flex">
          <a
            href="/login"
            class="flex mx-auto w-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >Login</a>
          <a
            href="./About2"
            class="flex mx-auto w-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >About</a>
        </div>
      </div>
      <div>
        <img
          class="w-screen p-8 hover:h-full hover:w-full h-96 w-96"
          src="https://c8.alamy.com/comp/C05N1D/school-boy-in-a-bangladeshi-village-at-the-end-of-the-day-with-children-C05N1D.jpg"
          alt=""
        />

      </div>
      <div class="flex justify-between">
        <details>
          <summary>About </summary>
          <p class="p-10">REACH Academy is a community of learners including
            students, parents and staff who are dedicated to creating an
            academically rigorous, culturally caring and inclusive learning
            environment. We are Reaching Excellence in Academics and Changing
            History! Together, we are champions of knowledge, our communities,
            the environment and of our futures. REACH Achievers are
            goal-oriented, critical thinkers and community leaders who are
            dedicated to achieving the highest level of integrity and academic
            success. The administration and staff are committed to providing a
            challenging and supportive learning environment where all students
            can succeed and reach their full potential. Every member
            participates in cycles of continuous learning and improvement that
            includes establishing high expectations, goal setting, planning,
            action and reflection. We develop a culture of excellence that
            includes a robust instructional program aligned to the Common Core
            State Standards (CCSS) with a focus on implementing Balanced
            Literacy through Reading and Writing Workshop, as well as by
            building language, literacy and competency across all subject areas.
            This includes the integration of science, technology, engineering
            and math (STEM) into the curriculum and by establishing a strong
            culture and climate. To this end, we seek to develop well-rounded
            students who exemplify health, wellness and character development
            using our core schoolwide expectations and values (Be Safe, Be
            Respectful, Be Responsible and Be Mindful). Through discovery,
            exploration, innovation, and creative expression through Arts
            integration and after school enrichment opportunities, students
            receive rich, extended learning opportunities while building a
            positive school culture where every member feels valued and
            respected. Through coaching, collaboration and building professional
            learning communities, we offer staff professional development
            training to build teachers capacity to improve instructional
            practices and to accelerate student achievement. Finally, we support
            a community schools approach that organizes and maximizes resources
            from the school and community based partnerships to ensure every
            student thrives and to support student success in alignment with the
            school priorities.</p>
        </details>

        <details>
          <summary>Information</summary>
          <p>The template lists the information we think that schools should
            hold and make available within each class. When completed this will
            provide a list of all the information the school will make routinely
            available, explain how it can be accessed and whether or not a
            charge will be made for it. Schools must:  State how the specific
            information can be obtained and if there is a cost involved. 
            Complete the relevant columns in the template guide.  Ensure the
            public can access the completed guide and the information listed in
            it. The guide, like the model scheme document itself, does not need
            further approval by the Information Commissioner. The guide is
            intended to assist schools by giving examples of the kinds of
            information that we would expect them to provide in order to meet
            their commitments under the FOIA model publication scheme. Schools
            should note that they are not expected to routinely publish all
            information; for example, where they do not hold it or where it is
            publicly available elsewhere or is exempt. We list such
            circumstances below. We would expect schools to make the information
            in the guide available unless:  they do not hold the information; 
            the information is exempt under one of the FOIA exemptions or
            Environmental Information Regulations 2004 (EIR) exceptions, or its
            release is prohibited under another statute;  the information is
            readily and publicly available from an external website; such
            information may have been provided either by the school or on its
            behalf. The school must provide a direct link to that information; 
            the information is archived, out of date or otherwise inaccessible;
            or  it would be impractical or resource-intensive to prepare the
            material for routine release. If the information is only held by
            another public authority, the school should provide details of where
            to obtain it.</p>
        </details>
        <details>
          <summary>Class Routine</summary>
        <img src="https://bdexamresults.com/wp-content/uploads/2021/04/Sangsad-TV-Class-Routine.jpg" alt="" class="w-96 h-96" srcset="">
        </details>
      </div>
    </div>
  </body>
</html>