<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sequi
      earum debitis minus minima eos laboriosam, corporis eveniet, labore
      voluptatum est perferendis? Quod consequatur delectus iste dolorem a
      facilis architecto! Exercitationem fugit est eum a molestiae laborum culpa
      ex unde dolore. Quae nisi voluptate dignissimos, dolores libero quasi
      ratione aspernatur.</p>
    <a
      href="/"
      class="flex mx-auto w-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
    >Go Back</a>
  </body>
</html>